{% extends 'base_article.html.twig' %}

{% block body %}
<form method="post">
    <header class="header">
        <div class="container">
             {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="m-5">
                    <p class="fs-4">Bienvenue {{ app.user.name }} !</p>
                    <p class="fs-4">Vous avez désormais accès à votre <a href="{{ path('article_index') }}" class="text-primary">Tableau de bord</a>.</p>
                    <p class="fs-4"><a href="{{ path('app_logout') }}" class="text-primary">Se déconnecter</a></p>
                </div>
                {% else %}
                <h1 class="connexion my-5 font-weight-normal">Connexion à <span class="title-website">Symfony Blog</span></h1>
                    <div class="connexion-area">
                        <label for="inputEmail" class="fs-6">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                        <label for="inputPassword" class="fs-6">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}

                        <button class="btn btn-purple me-connecter" type="submit">
                            Me connecter
                        </button>
                    </div>
            {% endif %}
        </div>
    </header>
</form>
{% endblock %}
